<h2>Er is nu een vaccin beschikbaar op <a href=https://www.prullenbakvaccin.nl/>prullenbakvaccin.nl</a></h2>
<p>De locatie blijft maar <b>10 minuten</b> zichtbaar op de website. Zorg dat u de informatie op prullenbakvaccin.nl goed heeft doorgelezen. <br>
<b>Als u naar de locatie gaat vergeet dan niet:</b>
<ul>
<li>Geldig paspoort, ID-bewijs of rijbewijs</li>
<li>Het uitprinten en meenemen van de <a href="https://www.nhg.org/sites/default/files/content/nhg_org/uploads/final_gezondheidsverklaring_03_2021_web.pdf" target="_blank">'gezondheidscheck'</a>.</li>
<li>Het dragen van een mondkapje is verplicht.</li>
</ul>
Hieronder staat een kopie van de praktijk informatie die op prullenbakvaccin.nl zichtbaar is:
</p>
<blockquote>
{loc["html_card"]}
</blockquote>
<p>Wilt u geen e-mails meer ontvangen? Klik dan <a href=https://www.wilke.sh/PrullenbakVaccin/unsub?email={to_address}&token={token}>hier.</a> <br>
 U kunt <b>niet</b> op deze e-mail reageren. Contact en feedback kan via <a href=mailto:dev.yanowilke@gmail.com>dev.yanowilke@gmail.com</a></p>